# --- Binary & Build Results ---
*.exe
*.exe~
*.dll
*.so
*.dylib
simdokpol

# --- Build Output Directory (PENTING) ---
build/
release/
dist/

# --- Local Database ---
*.db
*.db-journal
*.sqlite
*.sqlite3

# --- Logs & Environment ---
*.log
.env
.env.local

# --- Go Dependencies ---
vendor/
# KECUALI folder vendor frontend yang kita butuhin
!web/static/vendor/

# --- Temporary Files ---
tmp/
.DS_Store
Thumbs.db
.idea/
.vscode/
.git.old
coverage.out