{{template "_header.html" .}}
{{template "_sidebar.html" .}}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        {{template "_topbar.html" .}}
        <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Beranda</h1>
                <a href="/documents/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Buat Surat Baru
                </a>
            </div>
            <div class="row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Surat Diterbitkan (Bulan Ini)</div>
                                    <div id="stats-monthly" class="h5 mb-0 font-weight-bold text-gray-800">...</div>
                                </div>
                                <div class="col-auto"><i class="fas fa-calendar-alt fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Surat (Tahun Ini)</div>
                                    <div id="stats-yearly" class="h5 mb-0 font-weight-bold text-gray-800">...</div>
                                </div>
                                <div class="col-auto"><i class="fas fa-file-invoice fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Laporan Masuk (Hari Ini)</div>
                                    <div id="stats-today" class="h5 mb-0 font-weight-bold text-gray-800">...</div>
                                </div>
                                <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Pengguna Aktif</div>
                                    <div id="stats-users" class="h5 mb-0 font-weight-bold text-gray-800">...</div>
                                </div>
                                <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Grafik Penerbitan Surat (Bulanan)</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-area"><canvas id="myAreaChart"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Komposisi Barang Hilang</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2"><canvas id="myPieChart"></canvas></div>
                            <div id="pie-chart-legend" class="mt-4 text-center small">
                                <span><i class="fas fa-spinner fa-spin"></i> Memuat data...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "_footer.html" .}}
</div>

{{template "_scripts.html" .}}
{{template "_dashboardScript.html" .}}
{{template "_dashboardChartScript.html" .}}
{{template "_notificationScript.html" .}}