{{template "_header.html" .}}
{{template "_sidebar.html" .}}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        {{template "_topbar.html" .}}
        <div class="container-fluid">

            <div class="text-center" style="margin-top: 5rem;">
                <div class="error mx-auto" data-text="403">403</div>
                <p class="lead text-gray-800 mb-5">Akses Ditolak</p>
                <p class="text-gray-500 mb-0">{{ .ErrorMessage }}</p>
                <a href="/">&larr; Kembali ke Dasbor</a>
            </div>

        </div>
    </div>
    {{template "_footer.html" .}}
</div>

{{template "_scripts.html" .}}