!define APP_NAME "@APP_NAME@"
!define VERSION "@VERSION@"
!define PUBLISHER "@PUBLISHER@"
!define WEB_SITE "@WEB_SITE@"
!define INSTALLER_NAME "@INSTALLER_NAME@"

Name "${APP_NAME} ${VERSION}"
OutFile "${INSTALLER_NAME}"
InstallDir "$PROGRAMFILES64\${APP_NAME}"
RequestExecutionLevel admin

!include "MUI2.nsh"
!include "FileFunc.nsh"

; Icon configuration
!define MUI_ICON "@ICON_PATH@"
!define MUI_UNICON "@ICON_PATH@"

; UI Settings
@HEADER_DIRECTIVE@
@BANNER_DIRECTIVE@
!define MUI_ABORTWARNING
!define MUI_FINISHPAGE_RUN "$INSTDIR\start.bat"
!define MUI_FINISHPAGE_RUN_TEXT "Jalankan ${APP_NAME}"

; Installer pages
!insertmacro MUI_PAGE_WELCOME
@LICENSE_DIRECTIVE@
!insertmacro MUI_PAGE_DIRECTORY
!insertmacro MUI_PAGE_INSTFILES
!insertmacro MUI_PAGE_FINISH

; Uninstaller pages
!insertmacro MUI_UNPAGE_CONFIRM
!insertmacro MUI_UNPAGE_INSTFILES

; Language
!insertmacro MUI_LANGUAGE "English"

; Version Information
VIProductVersion "@VI_VERSION@"
VIAddVersionKey "ProductName" "${APP_NAME}"
VIAddVersionKey "CompanyName" "${PUBLISHER}"
VIAddVersionKey "FileDescription" "${APP_NAME} Installer"
VIAddVersionKey "FileVersion" "${VERSION}"
VIAddVersionKey "ProductVersion" "${VERSION}"
VIAddVersionKey "LegalCopyright" "Copyright © ${PUBLISHER}"

; Installation section
Section "Install" SecMain
  SectionIn RO
  SetOutPath "$INSTDIR"
  
  ; Copy main executable
  File "@APP_NAME@.exe"
  
  ; Copy icon
  File "icon.ico"
  
  ; Copy startup script
  File "start.bat"
  
  ; Copy web directory if exists
  IfFileExists "web\*.*" 0 +2
    File /r "web"
  
  ; Copy migrations directory if exists
  IfFileExists "migrations\*.*" 0 +2
    File /r "migrations"
  
  ; Copy license if exists
  IfFileExists "LICENSE" 0 +2
    File "LICENSE"
  
  ; Create uninstaller
  WriteUninstaller "$INSTDIR\Uninstall.exe"
  
  ; Create desktop shortcut
  CreateShortcut "$DESKTOP\${APP_NAME}.lnk" "$INSTDIR\start.bat" "" "$INSTDIR\icon.ico" 0 SW_SHOWNORMAL "" "Jalankan ${APP_NAME}"
  
  ; Create start menu shortcuts
  CreateDirectory "$SMPROGRAMS\${APP_NAME}"
  CreateShortcut "$SMPROGRAMS\${APP_NAME}\${APP_NAME}.lnk" "$INSTDIR\start.bat" "" "$INSTDIR\icon.ico" 0 SW_SHOWNORMAL "" "Jalankan ${APP_NAME}"
  CreateShortcut "$SMPROGRAMS\${APP_NAME}\Uninstall.lnk" "$INSTDIR\Uninstall.exe" "" "" 0 SW_SHOWNORMAL "" "Hapus ${APP_NAME}"
  
  ; Write registry keys for Add/Remove Programs
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "DisplayName" "${APP_NAME}"
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "DisplayVersion" "${VERSION}"
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "Publisher" "${PUBLISHER}"
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "URLInfoAbout" "${WEB_SITE}"
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "UninstallString" "$\"$INSTDIR\Uninstall.exe$\""
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "QuietUninstallString" "$\"$INSTDIR\Uninstall.exe$\" /S"
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "InstallLocation" "$INSTDIR"
  WriteRegStr HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "DisplayIcon" "$INSTDIR\icon.ico"
  WriteRegDWORD HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "NoModify" 1
  WriteRegDWORD HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "NoRepair" 1
  
  ; Calculate and write installation size
  ${GetSize} "$INSTDIR" "/S=0K" $0 $1 $2
  IntFmt $0 "0x%08X" $0
  WriteRegDWORD HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}" "EstimatedSize" "$0"
  
SectionEnd

; Uninstallation section
Section "Uninstall"
  ; Remove desktop shortcut
  Delete "$DESKTOP\${APP_NAME}.lnk"
  
  ; Remove start menu shortcuts
  RMDir /r "$SMPROGRAMS\${APP_NAME}"
  
  ; Remove registry keys
  DeleteRegKey HKLM "Software\Microsoft\Windows\CurrentVersion\Uninstall\${APP_NAME}"
  
  ; Remove installation directory
  RMDir /r "$INSTDIR"
  
  ; Optional: Ask to remove user data
  MessageBox MB_YESNO "Apakah Anda ingin menghapus data pengguna juga?$\n$\nData tersimpan di: $APPDATA\${APP_NAME}" IDNO +2
    RMDir /r "$APPDATA\${APP_NAME}"
    
SectionEnd

; Section descriptions
!insertmacro MUI_FUNCTION_DESCRIPTION_BEGIN
  !insertmacro MUI_DESCRIPTION_TEXT ${SecMain} "File utama aplikasi ${APP_NAME}"
!insertmacro MUI_FUNCTION_DESCRIPTION_END